config.py
extracted_plaintext_port.txt
kafka_output.log
*.db
*.pyc
*.duckdb
/mta_data_dictionaries/*
dbt_fellowship/models/example/my_first_dbt_model.sql
dbt_fellowship/models/example/my_second_dbt_model.sql
database_setup/__pycache__/config.cpython-312.pyc
.vscode/settings.json
capstone.session.sql
logs/dbt.log
.DS_Store
.vscode/settings.json
dbt_fellowship/mta_data_dictionaries
database_setup/to_do.txt
dbt_fellowship/models/staging/mta/to_do.txt
travel_time/travel_time_sandbox.ipynb
database_setup/duckdb_sandbox.ipynb
